<html lang="vi">

<head lang="vi">
    <title>Đồng Hồ Bấm Giờ</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->

</head>

<body>
    <div>
        <h1>Đồng Hồ Bấm Giờ</h1>

        <h2>
            <a href="./index.html">Trang chủ</a>
            <h2>Link các bài tập:
                <a href="./b101.html">Bài tập 10 - 1</a>
                <a href="./b103.html">Bài tập 10 - 3</a>
                <a href="./b104.html">Bài tập 10 - 4</a>
                <a href="./b111.html">Bài tập 11 - 1</a>
                <a href="./b112.html">Bài tập 11 - 2</a>
                <a href="./b113.html">Bài tập 11 - 3</a>
            </h2>
        </h2>
        <div class="container">
            <h1 id="dongho">00:00:00</h1>

            <h1 id="bamgio" class="clocktime">00:00:00</h1>

            <button id="BtnStart" onclick="startTime()" class="btnst">Bắt đầu</button>
            <button id="BtnDelete" onclick="BtnClear()" class="btnde" hidden="true">Xoá</button>
        </div>
    </div>
    <script src="/public/js/b102.js">    </script>
</body>

</html>